nav {
  background: #202125;
  height: max-content;
  width: 100%;
  position: fixed;
  top:0;
  justify-content: space-between;
  z-index: 100;
  display: flex;
}

#logo,
#logo > a > img {
  height: 68px;
  width: 100px;
}

#logo {
  background: black;
  padding: 0 32px;
}

nav ul {
  display: flex;
  align-items: center;
  padding-right: 32px;
}

nav li {
  list-style: none;
  transition: .4s;
  padding: 0 32px;
  font-size:18px;
}

nav li a {
  text-decoration: none;
  color: #eee;
  transition: .4s;
}

nav li a:hover {
  color: #C0C0C0;
}

.active {
  color: #f78333;
}

#navHamburger {
  display: none;
  color: white;
  align-items: center;
  padding-right: 15px;
}

#sliderMenu {
  display: none;
  top: 68px;
  right: 0;
  margin: 0 auto;
  position: fixed;
  background: #202125;
  text-align: center;
  font-size: 24px;
  line-height: 1.7;
  width: max-content;
}

#sliderMenu ul {
  padding: 0;
  margin: 0;
}

#sliderMenu li:hover {
   text-decoration: underline;
}
